body{
    margin: 0px;
}

.main-window{
    display: flex;
    justify-content: left;
    margin: 0px;
}

main{
    margin: 0px;
    height: 94vh;
    width: 85vw;
}

nav{
    margin: 0px;
    height: 94vh;
    width: 15vw;
}

header{
    display: flex;
    margin: 0px;
    height: 6vh;
    width: 100vw;
    align-items: center;
}

.home-button{
    height: 4vh;
    width: 4vh;
    margin-left: 10px;
}

nav ul{
    padding: 0px;
}

nav li{
    transition: 0.2s;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 50px;
}

nav li:hover{
    transition: 0.2s;
    background-color: #575050 !important;
    cursor: pointer;
}

nav li.selected:hover {
    background-color: var(--secondary-color) !important;
} 

nav li p{
    margin: 0px;
    font-size: 25px;
}

nav li img{
    margin: 10px;
    height: 40px;
    width: 40px;
}
