body{
    margin: 0px;
    padding: 0px;
}
main {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
}
main .catagory-header{
    width: 100%;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    padding-top:40px;
    padding-bottom: 30px;
}
main ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    transition: 0.2s;
    width: 50%;
    margin-bottom: 10px;
}
.container:hover {
    transition: 0.2s;
    cursor: pointer;
    scale: 1.05;
}
.container div{
    height: 100px;
    display: flex;
}
.container .server-info {
    display: flex;
    flex-direction: column;
}
.container .server-info *{ 

    width: auto;
    height: auto;
    margin: 5px 20px;
    padding: 0;
}
.container .server-stat {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .server-stat * {
    padding-right: 40px;
    font-size: 20px;
}

header{
    display: flex;
    margin: 0px !important;
    height: 7vh;
    width: 100vw;
    align-items: center;
}
